.footer {
    background: $color-footer;
    color: $color-white;
    text-align: left;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: 'Roboto-Light';
    &-div {
        display: flex;
        flex-direction: column;
        margin-left: 2%;
        margin-right: 2%;
        @include mobile {
            margin-right: 0%;
            margin-left: 7%;
        }
        &-titre {
            font-size: 1.1rem;
            text-align: center;
            @include mobile {
                font-size: 1rem;
                text-align: left;
            }
            margin: 0px;
        }
        &-list {
            display: flex;
            justify-content: space-around;
            @include mobile {
                display: block;
                justify-content: flex-start
            }
            @include list-none;
            padding-left: 0px;
            &-li {
                margin-top: 10px;
                & a {
                    @include decoration-none;
                    color: $color-white;
                }
                &-utensils i {
                    font-size: 0.9rem;
                    margin-right: 8px;
                }
                &-main i {
                    font-size: 0.6rem;
                    margin-right: 8px;
                }
            }
        }
    }
}