.btn-explorer {
    padding: 14px 14px;
    border: none;
    border-radius: 25px;
    margin-left: 20%;
    margin-right: 20%;
    @include box-shadow;
    @include linear-gradient;
    & strong {
        font-size: 0.8rem;
        color: $color-white;
    }
    &:hover {
        background: $color-primary;
    }
}
.validé-commande {
    margin-top: 30px;
    @include linear-gradient;
    @include box-shadow;
    border: 0px solid $color-white;
    border-radius: 25px;
    padding: 15px 45px;
    color: $color-white;
    font-size: 0.9rem;
}