.btn-explorer {
    padding: 14px 14px;
    border: none;
    border-radius: 25px;
    margin-left: 38%;
    margin-right: 38%;
    @include tablet {
        margin-left: 30%;
        margin-right: 30%;
    }
    @include mobile {
        margin-left: 20%;
        margin-right: 20%;
    }
    @include box-shadow;
    @include linear-gradient;
    min-width: 170px;
    opacity: 1;
    transition: all 0.3s ease-in-out;
    & strong {
        font-size: 0.9rem;
        @include mobile {
            font-size: 0.8rem;
        }
        color: $color-white;
        font-family: 'Roboto-Bold';

    }
    &:hover {
        @include linear-gradient;
        @include box-shadow-hover;
        opacity: 0.8;
    }
}
.validé-commande {
    margin-left: 38%;
    margin-right: 38%;
    @include tablet {
        margin-left: 30%;
        margin-right: 30%;
    }
    @include mobile {
        margin-left: 20%;
        margin-right: 20%;
    }
    margin-top: 30px;
    @include linear-gradient;
    @include box-shadow;
    border: 0px solid $color-white;
    border-radius: 25px;
    padding: 15px 45px;
    color: $color-white;
    font-family: 'Roboto-Bold';
    font-size: 0.9rem;
    min-width: 170px;
    opacity: 1;
    transition: all 0.3s ease-in-out;
    &:hover {
        @include linear-gradient;
        @include box-shadow-hover;
        opacity: 0.8;
    }
}