    /*font*/
@font-face {
    font-family: 'Shrikhand';
    src: url('/Touzain_Yoann_3_22072021/Styles/Fonts/Shrikhand/Shrikhand-Regular.otf');
    font-weight:normal;
}
@font-face {
    font-family: 'Roboto-Black';
    src: url('/Touzain_Yoann_3_22072021/Styles/Fonts/Roboto/Roboto-Black.ttf');
    font-weight:normal;
}
@font-face {
    font-family: 'Roboto-BlackItalic';
    src: url('/Touzain_Yoann_3_22072021/Styles/Fonts/Roboto/Roboto-BlackItalic.ttf');
    font-weight:normal;
}
@font-face {
    font-family: 'Roboto-Bold';
    src: url('/Touzain_Yoann_3_22072021/Styles/Fonts/Roboto/Roboto-Bold.ttf');
    font-weight:normal;
}
@font-face {
    font-family: 'Roboto-BoldItalic';
    src: url('/Touzain_Yoann_3_22072021/Styles/Fonts/Roboto/Roboto-BoldItalic.ttf');
    font-weight:normal;
}
@font-face {
    font-family: 'Roboto-Italic';
    src: url('/Touzain_Yoann_3_22072021/Styles/Fonts/Roboto/Roboto-Italic.ttf');
    font-weight:normal;
}
@font-face {
    font-family: 'Roboto-Light';
    src: url('/Touzain_Yoann_3_22072021/Styles/Fonts/Roboto/Roboto-Light.ttf');
    font-weight:normal;
}
@font-face {
    font-family: 'Roboto-LightItalic';
    src: url('/Touzain_Yoann_3_22072021/Styles/Fonts/Roboto/Roboto-LightItalic.ttf');
    font-weight:normal;
}
@font-face {
    font-family: 'Roboto-Medium';
    src: url('/Touzain_Yoann_3_22072021/Styles/Fonts/Roboto/Roboto-Medium.ttf');
    font-weight:normal;
}
@font-face {
    font-family: 'Roboto-MediumItalic';
    src: url('/Touzain_Yoann_3_22072021/Styles/Fonts/Roboto/Roboto-MediumItalic.ttf');
    font-weight:normal;
}
@font-face {
    font-family: 'Roboto-Regular';
    src: url('/Touzain_Yoann_3_22072021/Styles/Fonts/Roboto/Roboto-Regular.ttf');
    font-weight:normal;
}
@font-face {
    font-family: 'Roboto-Thin';
    src: url('/Touzain_Yoann_3_22072021/Styles/Fonts/Roboto/Roboto-Thin.ttf');
    font-weight:normal;
}
@font-face {
    font-family: 'Roboto-ThinItalic';
    src: url('/Touzain_Yoann_3_22072021/Styles/Fonts/Roboto/Roboto-ThinItalic.ttf');
    font-weight:normal;
}
@font-face {
    font-family: 'RobotoCondensed-Bold';
    src: url('/Touzain_Yoann_3_22072021/Styles/Fonts/Roboto/RobotoCondensed-Bold.ttf');
    font-weight:normal;
}
@font-face {
    font-family: 'RobotoCondensed-BoldItalic';
    src: url('/Touzain_Yoann_3_22072021/Styles/Fonts/Roboto/RobotoCondensed-BoldItalic.ttf');
    font-weight:normal;
}
@font-face {
    font-family: 'RobotoCondensed-Italic';
    src: url('/Touzain_Yoann_3_22072021/Styles/Fonts/Roboto/RobotoCondensed-Italic.ttf');
    font-weight:normal;
}
@font-face {
    font-family: 'RobotoCondensed-Light';
    src: url('/Touzain_Yoann_3_22072021/Styles/Fonts/Roboto/RobotoCondensed-Light.ttf');
    font-weight:normal;
}
@font-face {
    font-family: 'RobotoCondensed-LightItalic';
    src: url('/Touzain_Yoann_3_22072021/Styles/Fonts/Roboto/RobotoCondensed-LightItalic.ttf');
    font-weight:normal;
}
@font-face {
    font-family: 'RobotoCondensed-Regular';
    src: url('/Touzain_Yoann_3_22072021/Styles/Fonts/Roboto/RobotoCondensed-Regular.ttf');
    font-weight:normal;
}