body {
    text-align: center;
}
.reserve-menu {
    display: flex;
    flex-direction: column;
    padding-top: 34px;
    padding-bottom: 44px;
    background: $color-grey-light;
    &  h1 {
    font-size: 1.2rem;
    @include mobile {
        font-size: 1.1rem;
    }
    margin: 2% 12% 1% 12%;
    }
    & p {
        margin: 0% 3% 8% 3%;
        font-size: 1.1rem;
        @include mobile {
            font-size: 1rem;
        }
    }
}
.criteres {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    @include mobile {
        flex-direction: column;
    }
    margin-left: 7%;
    margin-right: 8%;
    &-titre {
        font-size: 1.2rem;
        text-align: left;
        width: 100%;
    }
}
.criteres-btn {
    margin-top: 20px;
    position: relative;
    padding: 20px;
    border: none;
    border-radius: 15px;
    @include box-shadow;
    @include decoration-none;
    background-color: $color-grey-light;
    font-size: 0.9rem;
    transition: all 0.3s ease-in-out;
    width: 42%;
    @include tablet {
        width: 35%;
    }
    @include mobile {
        width: auto;
    }
    &-chiffre {
        position: absolute;
        left: -10px;
        top: 18px;
        border: 0px solid $color-primary;
        border-radius: 100%;
        padding: 4px 7px;
        font-size: 0.8rem;
        @include mobile {
            font-size: 0.7rem;
            padding: 4px 6px;
        }
        color: $color-white;
        background: $color-primary;
    }
}
.criteres-btn:hover {
    background-color: lighten($color: $color-primary, $amount: 35);
    & i {
        color: darken($color: $color-primary, $amount: 5);
    }
}
.criteres-btn-description {
    display: flex;
    &-mobile {
        font-size: 1rem;
        margin-right: 5px;
    }
    &-menu {
        padding-top: 1px;
        font-size: 0.9rem;
    }
    &-store {
        padding-top: 3px;
        font-size: 0.8rem;
    }
    & i {
        margin-left: 10px;
        color: $color-icons-grey;
        margin-right: 15px;
        transition: all 0.3s ease-in-out;
    }
    & strong {
        font-family: 'Roboto-Bold';
    }
}
    /*Section*/
.section-index {
    display: flex;
    flex-direction: column;
    background: $color-grey-light;
    margin-top: 50px;
    padding-bottom: 50px;
    &-titre {
        margin-top: 40px;
        text-align: left;
        margin-left: 5%;
        margin-right: 5%;
    }
}
.container-vignettes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: 2%;
    margin-right: 2%;
    @include mobile {
        margin-left: 7%;
        margin-right: 7%;
    }
    &-lien {
        position: relative;
        background: $color-white;
        border: 0px solid $color-white;
        border-radius: 15px;
        @include decoration-none;
        width: 43%;
        @include mobile {
            width: 100%;
        }
        background: greenyellow;
        margin-bottom: 18px;
        @include box-shadow
    }
}
.vignettes-img {
    width: 100%;
    height: 160px;
    & img {
        width: 100%;
        height: 100%;
        border: 0px solid $color-white;
        border-radius: 15px 15px 0px 0px;
        object-fit: cover;
    }
    &-nouveau {
        position: absolute;
        top: 10px;
        right: 11px;
        border: 0px solid $color-tertiary;
        border-radius: 3px;
        padding: 5px 10px;
        background: $color-tertiary;
        color: darken($color: $color-tertiary, $amount: 40);
        font-family: "Roboto-light";
    }
}
.vignettes-container {
    display: flex;
    justify-content: space-between;
}
.vignettes-container-description {
    text-align: left;
    margin-left: 10px;
    margin-bottom: 14px;
    &-titre {
        font-size: 1rem;
        @include tablet {
            font-size: 0.9rem;
        }
        margin-bottom: 0px;
    }
    &-paragraphe {
        font-size: 0.95rem;
        margin-top: 2px;
        margin-bottom: 0px;
    }
}
.vignettes-container-icone {
    margin-top: 5%;
    margin-right: 8%;
    font-size: 1.4rem;
}
        /*Phase test sur le coeur*/
@keyframes like { 
    1% {
        background: black;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        font-weight: normal;
    }
    50% {
        background: linear-gradient(45deg, $color-secondary, $color-secondary 5%, $color-primary 100%, $color-primary);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        font-weight: 500;
    }
    100% {
        background: linear-gradient(45deg, $color-secondary, $color-secondary 5%, $color-primary 100%, $color-primary);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        font-weight: 900;
    }
}/*
.coeur:hover {
    animation: like 4s ease-in-out;

}
.coeur {
    background-color: black;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-weight: normal;
    transform-origin: 50% 100%;
    transition: transform 2s;
}*/
.coeur {
    width: 30px;
    height: 30px;
    color: black;
    background: transparent;
    font-weight: normal;
    transform-origin: 0%;

}
.coeur:hover {
    animation: test 2s ease-in-out;
}
@keyframes test {
    0% {
        transform: translateY(0%);
        background-image: black;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        font-weight: normal;
        opacity: 1;
    }
    50% {
        transform: translateY(100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0%);
        background-image: linear-gradient(45deg, $color-secondary, $color-secondary 5%, $color-primary 100%, $color-primary);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        font-weight: 900;
        opacity: 1;
    }
}