body {
    text-align: center;
}
.reserve-menu {
    display: flex;
    flex-direction: column;
    padding-top: 34px;
    padding-bottom: 44px;
    background: $color-grey-light;
    &  h1 {
    font-size: 1.1rem;
    margin: 2% 12% 1% 12%;
    }
    & p {
        margin: 0% 3% 8% 3%;
        font-size: 1rem;
    }
}
.critères {
    display: flex;
    flex-direction: column;
    margin-left: 7%;
    margin-right: 8%;
    &-titre {
        font-size: 1.2rem;
        text-align: left;
    }
    &-btn {
        margin-top: 20px;
        position: relative;
        padding: 20px;
        border: none;
        border-radius: 15px;
        @include box-shadow;
        background: $color-grey-light;
        &:hover {
            background: lighten($color: $color-primary, $amount: 35);
            & i {
                color: darken($color: $color-primary, $amount: 5);
            }
        }
        &-chiffre {
            position: absolute;
            left: -10px;
            top: 18px;
            border: 0px solid $color-primary;
            border-radius: 100%;
            padding: 4px 6px;
            font-size: 0.7rem;
            color: $color-white;
            background: $color-primary;
        }
        &-description {
            display: flex;
            & i {
                margin-left: 10px;
                color: $color-icons-grey;
            }
            & strong {
                font-family: 'Roboto-Bold';
                margin-left: 15px;
                font-weight: bold;
            }
        }
    }
}
    /*Section*/
.container-vignettes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    &-lien {
        background: $color-white;
        border: 0px solid $color-white;
        border-radius: 25px 25px 25px 25px;
        text-decoration: none;
        outline: none;
    }
}
.container-vignettes-lien  .vignettes {
    &-img {
        height: 118px;
        & img {
        width: 100%;
        height: 100%;
        border: 0px solid $color-white;
        border-radius: 25px 25px 0px 0px;
        object-fit: cover;
        }
    }
}