body {
    text-align: center;
}
.reserve-menu {
    display: flex;
    flex-direction: column;
    padding-top: 34px;
    padding-bottom: 44px;
    background: $color-grey-light;
    &  h1 {
    font-size: 1.1rem;
    margin: 2% 12% 1% 12%;
    }
    & p {
        margin: 0% 3% 8% 3%;
        font-size: 1rem;
    }
}
.critères {
    display: flex;
    flex-direction: column;
    margin-left: 7%;
    margin-right: 8%;
    &-titre {
        font-size: 1.2rem;
        text-align: left;
    }
    &-btn {
        margin-top: 20px;
        position: relative;
        padding: 20px;
        border: none;
        border-radius: 15px;
        @include box-shadow;
        background: $color-grey-light;
        &:hover {
            background: lighten($color: $color-primary, $amount: 35);
            & i {
                color: darken($color: $color-primary, $amount: 5);
            }
        }
        &-chiffre {
            position: absolute;
            left: -10px;
            top: 18px;
            border: 0px solid $color-primary;
            border-radius: 100%;
            padding: 4px 6px;
            font-size: 0.7rem;
            color: $color-white;
            background: $color-primary;
        }
        &-description {
            display: flex;
            &-mobile {
                font-size: 1rem;
                margin-right: 5px;
            }
            &-menu {
                font-size: 0.9rem;
            }
            & i {
                margin-left: 10px;
                color: $color-icons-grey;
                margin-right: 15px;
            }
            & strong {
                font-family: 'Roboto-Bold';
                font-weight: bold;
            }
        }
    }
}
    /*Section*/
.section-index {
    display: flex;
    flex-direction: column;
    background: $color-grey-light;
    margin-top: 50px;
    &-titre {
        margin-top: 40px;
        text-align: left;
        margin-left: 5%;
        margin-right: 5%;
    }
}
.container-vignettes {
    display: flex;
    flex-wrap: wrap;
    margin-left: 7%;
    margin-right: 7%;
    &-lien {
        position: relative;
        background: $color-white;
        border: 0px solid $color-white;
        border-radius: 15px;
        @include decoration-none;
        width: 100%;
        background: greenyellow;
        margin-bottom: 18px;
        @include box-shadow
    }
}
.container-vignettes-lien  .vignettes {
    &-img {
        width: 100%;
        height: 160px;
        & img {
        width: 100%;
        height: 100%;
        border: 0px solid $color-white;
        border-radius: 15px 15px 0px 0px;
        object-fit: cover;
        }
        &-nouveau {
            position: absolute;
            top: 10px;
            right: 11px;
            border: 0px solid $color-tertiary;
            border-radius: 3px;
            padding: 5px 10px;
            background: $color-tertiary;
            color: darken($color: $color-tertiary, $amount: 40);
            font-family: "Roboto-light";
        }
    }
    &-description {
        position: relative;
        text-align: left;
        margin-left: 10px;
        margin-bottom: 14px;
        &-titre {
            font-size: 1rem;
            margin-bottom: 0px;
        }
        &-paragraphe {
            font-size: 0.95rem;
            margin-top: 2px;
            margin-bottom: 0px;
        }
        &-icone {
            position: absolute;
            cursor: pointer;
            top: 6px;
            right: 25px;
            font-size: 1.3rem;
        }
    }
}