/*Bannière*/
.banniere {
    @include banniere;
}
.section-menu {
    position: relative;
    top: -50px;
    background: $color-grey-light;
    border: 0px solid $color-grey-light;
    border-radius: 30px 30px 0px 0px;
    padding: 10px 10px 60px 10px;
    & h1 {
        text-align: left;
    }
    &-container-icone {
        margin-left: 30px;
    }
}
.section-menu-carte {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 20px;
    &-titre {
        font-size: 1rem;
        border-bottom: 3px solid $color-tertiary;
        width: 3.5rem;
        margin-bottom: 0px;
    }
    &-lien {
        margin-top: 14px;
        background: greenyellow;
        border: 0px solid $color-white;
        border-radius: 15px;
        @include decoration-none;
    }
}
.plat {
    display: flex;
    justify-content: space-between;
    margin: 10px 20px 8px 10px;
    &-nom {
        &-titre {
            margin-top: 0px;
            margin-bottom: 0px;
            font-size: 0.80rem;
            width: 227px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        &-description {
            margin-top: 0px;
            margin-bottom: 0px;
            margin-right: 0px;
            font-size: 0.83rem;
            width: 227px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
    &-prix {
        &-chiffre {
            margin-top: 20px;
            margin-bottom: 0px;
            font-weight: bold;
            font-size: 0.8rem;
        }
    }
}
.check {
    display: none;
}