@mixin mobile {
    @media screen and (max-width: map-get($breakpoints, mobile )) {
        @content;
    }
}
@mixin box-shadow {
    box-shadow: 0px 3px 10px -4px rgba(0, 0, 0, 0.67);
}
@mixin box-shadow-hover {
    box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.67);
}
@mixin linear-gradient {
    background: -webkit-linear-gradient(278deg, $color-secondary, $color-secondary 5%, $color-primary 100%, $color-primary);
}
@mixin decoration-none {
    text-decoration: none;
    outline: none;
}
@mixin list-none {
    list-style: none;
}
@mixin banniere {
    width: 100%;
    height: 250px;
    & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
@keyframes check-rotate{
    0% {
        transform: rotate(0turn);
    }
    100% {
        transform: rotate(1turn);
    }
}