$breakpoints: (mobile: 458px);
$color-primary: #9256dc;
$color-secondary: #ff79da;
$color-tertiary: #99e2d0;
$color-white:#fff;
$color-grey-dark: rgba(228, 228, 228, 0.966);
$color-grey-light: #f2f2f2bd;
$color-icons-grey: grey;