$breakpoints-mobile: (mobile: 415px);
$breakpoints-tablet: (min-tablet: 416px, max-tablet: 1024px);
$color-primary: #9256dc;
$color-secondary: #ff79da;
$color-tertiary: #99e2d0;
$color-white:#fff;
$color-grey-dark: #EAEAEA;
$color-grey-light: #F6F6F6;
$color-icons-grey: #808080;
$color-footer: #353535;