@charset "UTF-8";
body {
  margin: 20px 0px auto 0px;
}

/*font*/
@font-face {
  font-family: "Shrikhand";
  src: url("../../Documents/Dev/Ohmyfood/Touzain_Yoann_3_22072021/Styles/Fonts/Shrikhand/Shrikhand-Regular.otf");
  font-weight: normal;
}
@font-face {
  font-family: "Roboto-Black";
  src: url("/Documents/Dev/Ohmyfood/Touzain_Yoann_3_22072021/Styles/Fonts/Roboto/Roboto-Black.ttf");
  font-weight: normal;
}
@font-face {
  font-family: "Roboto-BlackItalic";
  src: url("/Documents/Dev/Ohmyfood/Touzain_Yoann_3_22072021/Styles/Fonts/Roboto/Roboto-BlackItalic.ttf");
  font-weight: normal;
}
@font-face {
  font-family: "Roboto-Bold";
  src: url("/Documents/Dev/Ohmyfood/Touzain_Yoann_3_22072021/Styles/Fonts/Roboto/Roboto-Bold.ttf");
  font-weight: normal;
}
@font-face {
  font-family: "Roboto-BoldItalic";
  src: url("/Documents/Dev/Ohmyfood/Touzain_Yoann_3_22072021/Styles/Fonts/Roboto/Roboto-BoldItalic.ttf");
  font-weight: normal;
}
@font-face {
  font-family: "Roboto-Italic";
  src: url("/Documents/Dev/Ohmyfood/Touzain_Yoann_3_22072021/Styles/Fonts/Roboto/Roboto-Italic.ttf");
  font-weight: normal;
}
@font-face {
  font-family: "Roboto-Light";
  src: url("/Touzain_Yoann_3_22072021/Documents/Dev/Ohmyfood/Touzain_Yoann_3_22072021/Styles/Fonts/Roboto/Roboto-Light.ttf");
  font-weight: normal;
}
@font-face {
  font-family: "Roboto-LightItalic";
  src: url("/Documents/Dev/Ohmyfood/Touzain_Yoann_3_22072021/Styles/Fonts/Roboto/Roboto-LightItalic.ttf");
  font-weight: normal;
}
@font-face {
  font-family: "Roboto-Medium";
  src: url("/Documents/Dev/Ohmyfood/Touzain_Yoann_3_22072021/Styles/Fonts/Roboto/Roboto-Medium.ttf");
  font-weight: normal;
}
@font-face {
  font-family: "Roboto-MediumItalic";
  src: url("/Documents/Dev/Ohmyfood/Touzain_Yoann_3_22072021/Styles/Fonts/Roboto/Roboto-MediumItalic.ttf");
  font-weight: normal;
}
@font-face {
  font-family: "Roboto-Regular";
  src: url("/Documents/Dev/Ohmyfood/Touzain_Yoann_3_22072021/Styles/Fonts/Roboto/Roboto-Regular.ttf");
  font-weight: normal;
}
@font-face {
  font-family: "Roboto-Thin";
  src: url("/Documents/Dev/Ohmyfood/Touzain_Yoann_3_22072021/Styles/Fonts/Roboto/Roboto-Thin.ttf");
  font-weight: normal;
}
@font-face {
  font-family: "Roboto-ThinItalic";
  src: url("/Documents/Dev/Ohmyfood/Touzain_Yoann_3_22072021/Styles/Fonts/Roboto/Roboto-ThinItalic.ttf");
  font-weight: normal;
}
@font-face {
  font-family: "RobotoCondensed-Bold";
  src: url("/Documents/Dev/Ohmyfood/Touzain_Yoann_3_22072021/Styles/Fonts/Roboto/RobotoCondensed-Bold.ttf");
  font-weight: normal;
}
@font-face {
  font-family: "RobotoCondensed-BoldItalic";
  src: url("/Documents/Dev/Ohmyfood/Touzain_Yoann_3_22072021/Styles/Fonts/Roboto/RobotoCondensed-BoldItalic.ttf");
  font-weight: normal;
}
@font-face {
  font-family: "RobotoCondensed-Italic";
  src: url("/Documents/Dev/Ohmyfood/Touzain_Yoann_3_22072021/Styles/Fonts/Roboto/RobotoCondensed-Italic.ttf");
  font-weight: normal;
}
@font-face {
  font-family: "RobotoCondensed-Light";
  src: url("/Documents/Dev/Ohmyfood/Touzain_Yoann_3_22072021/Styles/Fonts/Roboto/RobotoCondensed-Light.ttf");
  font-weight: normal;
}
@font-face {
  font-family: "RobotoCondensed-LightItalic";
  src: url("/Documents/Dev/Ohmyfood/Touzain_Yoann_3_22072021/Styles/Fonts/Roboto/RobotoCondensed-LightItalic.ttf");
  font-weight: normal;
}
@font-face {
  font-family: "RobotoCondensed-Regular";
  src: url("/Documents/Dev/Ohmyfood/Touzain_Yoann_3_22072021/Styles/Fonts/Roboto/RobotoCondensed-Regular.ttf");
  font-weight: normal;
}
header, h1, h2, h3 {
  font-family: "Shrikhand";
}

body {
  font-family: "Roboto-Light";
}

a {
  color: black;
}

.btn-explorer {
  background: #9356dc;
  padding: 14px 8px 14px 8px;
  border: none;
  border-radius: 25px;
  margin-left: 20%;
  margin-right: 20%;
}
.btn-explorer strong {
  font-size: 0.8rem;
  color: #fff;
}

.critères-btn {
  background: #f2f2f2bd;
  position: relative;
  border: 1px solid #f2f2f2bd;
  border-radius: 10px;
  padding: 20px auto 20px auto;
  margin-top: 20px;
  text-align: center;
}

.container-blanc {
  display: flex;
  justify-content: center;
  padding-bottom: 14px;
  box-shadow: 0px 8px 6px -3px rgba(0, 0, 0, 0.39);
  background: #fff;
}
.container-blanc-logo {
  width: 50%;
}
.container-blanc-logo img {
  width: 100%;
  height: 100%;
}

.nav {
  display: flex;
  justify-content: center;
  background: #f2f2f259;
}

.search-ville {
  font-size: 0.9rem;
  text-align: center;
  padding-top: 14px;
  padding-bottom: 14px;
}
.search-ville input {
  font-size: 0.8rem;
  text-align: center;
  padding-left: 0px;
  width: 68%;
  border: none;
  background: #f2f2f259;
}

body {
  background: greenyellow;
  text-align: center;
}

.reserve-menu {
  display: flex;
  flex-direction: column;
  padding-top: 34px;
  padding-bottom: 44px;
  background: #f2f2f2bd;
}
.reserve-menu h1 {
  font-size: 1.1rem;
  margin: 2% 12% 1% 12%;
}
.reserve-menu p {
  margin: 0% 3% 8% 3%;
  font-size: 1rem;
}

.critères {
  display: flex;
  flex-direction: column;
  margin-left: 7%;
  margin-right: 8%;
}
.critères-titre {
  font-size: 1.2rem;
  text-align: left;
}
.critères-btn-chiffre {
  position: absolute;
  border: 0px solid;
  border-radius: 100%;
  background: #9356dc;
  color: #fff;
  padding: 4px 6px;
  font-size: 0.7rem;
  left: -6px;
}

.test {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/*Section*/
.container-vignettes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.container-vignettes-lien {
  background: #fff;
  border: 0px solid #fff;
  border-radius: 25px 25px 25px 25px;
  text-decoration: none;
  outline: none;
}

.container-vignettes-lien .vignettes-img {
  width: 100%;
  height: 118px;
}
.container-vignettes-lien .vignettes-img img {
  width: 100%;
  height: 100%;
  border: 0px solid #fff;
  border-radius: 25px 25px 0px 0px;
  object-fit: cover;
}

/*# sourceMappingURL=styles.css.map */
