@charset "UTF-8";
body {
  margin: 20px 0px auto 0px;
}

/*font*/
@font-face {
  font-family: "Shrikhand";
  src: url("Fonts/Shrikhand/Shrikhand-Regular.otf");
  font-weight: normal;
}
@font-face {
  font-family: "Roboto-Black";
  src: url("Fonts/Roboto/Roboto-Black.ttf");
  font-weight: normal;
}
@font-face {
  font-family: "Roboto-BlackItalic";
  src: url("Fonts/Roboto/Roboto-BlackItalic.ttf");
  font-weight: normal;
}
@font-face {
  font-family: "Roboto-Bold";
  src: url("Fonts/Roboto/Roboto-Bold.ttf");
  font-weight: normal;
}
@font-face {
  font-family: "Roboto-BoldItalic";
  src: url("Fonts/Roboto/Roboto-BoldItalic.ttf");
  font-weight: normal;
}
@font-face {
  font-family: "Roboto-Italic";
  src: url("Fonts/Roboto/Roboto-Italic.ttf");
  font-weight: normal;
}
@font-face {
  font-family: "Roboto-Light";
  src: url("Fonts/Roboto/Roboto-Light.ttf");
  font-weight: normal;
}
@font-face {
  font-family: "Roboto-LightItalic";
  src: url("Fonts/Roboto/Roboto-LightItalic.ttf");
  font-weight: normal;
}
@font-face {
  font-family: "Roboto-Medium";
  src: url("Fonts/Roboto/Roboto-Medium.ttf");
  font-weight: normal;
}
@font-face {
  font-family: "Roboto-MediumItalic";
  src: url("Fonts/Roboto/Roboto-MediumItalic.ttf");
  font-weight: normal;
}
@font-face {
  font-family: "Roboto-Regular";
  src: url("Fonts/Roboto/Roboto-Regular.ttf");
  font-weight: normal;
}
@font-face {
  font-family: "Roboto-Thin";
  src: url("Fonts/Roboto/Roboto-Thin.ttf");
  font-weight: normal;
}
@font-face {
  font-family: "Roboto-ThinItalic";
  src: url("Fonts/Roboto/Roboto-ThinItalic.ttf");
  font-weight: normal;
}
@font-face {
  font-family: "RobotoCondensed-Bold";
  src: url("Fonts/Roboto/RobotoCondensed-Bold.ttf");
  font-weight: normal;
}
@font-face {
  font-family: "RobotoCondensed-BoldItalic";
  src: url("Fonts/Roboto/RobotoCondensed-BoldItalic.ttf");
  font-weight: normal;
}
@font-face {
  font-family: "RobotoCondensed-Italic";
  src: url("Fonts/Roboto/RobotoCondensed-Italic.ttf");
  font-weight: normal;
}
@font-face {
  font-family: "RobotoCondensed-Light";
  src: url("Fonts/Roboto/RobotoCondensed-Light.ttf");
  font-weight: normal;
}
@font-face {
  font-family: "RobotoCondensed-LightItalic";
  src: url("Fonts/Roboto/RobotoCondensed-LightItalic.ttf");
  font-weight: normal;
}
@font-face {
  font-family: "RobotoCondensed-Regular";
  src: url("Fonts/Roboto/RobotoCondensed-Regular.ttf");
  font-weight: normal;
}
header, h1, h2, h3 {
  font-family: "Shrikhand";
}

a {
  color: black;
}

.btn-explorer {
  padding: 14px 14px;
  border: none;
  border-radius: 25px;
  margin-left: 20%;
  margin-right: 20%;
  box-shadow: 0px 3px 10px -4px rgba(0, 0, 0, 0.67);
  background: -webkit-linear-gradient(278deg, #ff79da, #ff79da 5%, #9256dc 100%, #9256dc);
}
.btn-explorer strong {
  font-size: 0.8rem;
  color: #fff;
}
.btn-explorer:hover {
  background: #9256dc;
}

.container-blanc {
  display: flex;
  justify-content: center;
  padding-bottom: 14px;
  box-shadow: 0px 8px 6px -3px rgba(0, 0, 0, 0.39);
  background: #fff;
}
.container-blanc-icone {
  align-self: center;
  font-size: 1rem;
  justify-self: flex-start;
  margin-right: 0px;
  margin-left: 15px;
}
.container-blanc-logo {
  margin-left: auto;
  margin-right: auto;
  width: 45%;
}
.container-blanc-logo img {
  width: 100%;
  height: 100%;
}

.nav {
  display: flex;
  justify-content: center;
  background: #EAEAEA;
}
.nav input {
  font-weight: bold;
  color: black;
  outline: none;
}

.search-ville {
  font-size: 0.9rem;
  text-align: center;
  padding-top: 14px;
  padding-bottom: 14px;
}
.search-ville input {
  font-size: 0.8rem;
  text-align: center;
  padding-left: 0px;
  width: 68%;
  border: none;
  background: #EAEAEA;
}

.footer {
  background: #353535;
  color: #fff;
  text-align: left;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: "Roboto-Light";
}
.footer-div {
  display: flex;
  flex-direction: column;
  margin-left: 7%;
}
.footer-div-titre {
  font-size: 1rem;
  margin: 0px;
}
.footer-div-list {
  list-style: none;
  padding-left: 0px;
}
.footer-div-list-li {
  margin-top: 10px;
}
.footer-div-list-li a {
  text-decoration: none;
  outline: none;
  color: #fff;
}
.footer-div-list-li-utensils i {
  font-size: 0.9rem;
  margin-right: 8px;
}
.footer-div-list-li-main i {
  font-size: 0.6rem;
  margin-right: 8px;
}

/*Bannière*/
.banniere {
  width: 100%;
  height: 250px;
}
.banniere img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section-menu {
  position: relative;
  top: -50px;
  background: #F6F6F6;
  border: 0px solid #F6F6F6;
  border-radius: 30px 30px 0px 0px;
  padding-top: 30px;
}
.section-menu-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.section-menu-container-h1 {
  margin: 0px;
  font-size: 1.3rem;
  width: 70%;
}
.section-menu-container-icone {
  font-size: 1.2rem;
  margin-right: 4%;
}

body {
  text-align: center;
}

.reserve-menu {
  display: flex;
  flex-direction: column;
  padding-top: 34px;
  padding-bottom: 44px;
  background: #F6F6F6;
}
.reserve-menu h1 {
  font-size: 1.1rem;
  margin: 2% 12% 1% 12%;
}
.reserve-menu p {
  margin: 0% 3% 8% 3%;
  font-size: 1rem;
}

.critères {
  display: flex;
  flex-direction: column;
  margin-left: 7%;
  margin-right: 8%;
}
.critères-titre {
  font-size: 1.2rem;
  text-align: left;
}
.critères-btn {
  margin-top: 20px;
  position: relative;
  padding: 20px;
  border: none;
  border-radius: 15px;
  box-shadow: 0px 3px 10px -4px rgba(0, 0, 0, 0.67);
  background: #F6F6F6;
}
.critères-btn:hover {
  background: #f1eafb;
}
.critères-btn:hover i {
  color: #8441d8;
}
.critères-btn-chiffre {
  position: absolute;
  left: -10px;
  top: 18px;
  border: 0px solid #9256dc;
  border-radius: 100%;
  padding: 4px 6px;
  font-size: 0.7rem;
  color: #fff;
  background: #9256dc;
}
.critères-btn-description {
  display: flex;
}
.critères-btn-description-mobile {
  font-size: 1rem;
  margin-right: 5px;
}
.critères-btn-description-menu {
  font-size: 0.9rem;
}
.critères-btn-description i {
  margin-left: 10px;
  color: #808080;
  margin-right: 15px;
}
.critères-btn-description strong {
  font-family: "Roboto-Bold";
  font-weight: bold;
}

/*Section*/
.section-index {
  display: flex;
  flex-direction: column;
  background: #F6F6F6;
  margin-top: 50px;
}
.section-index-titre {
  margin-top: 40px;
  text-align: left;
  margin-left: 5%;
  margin-right: 5%;
}

.container-vignettes {
  display: flex;
  flex-wrap: wrap;
  margin-left: 7%;
  margin-right: 7%;
}
.container-vignettes-lien {
  position: relative;
  background: #fff;
  border: 0px solid #fff;
  border-radius: 15px 15px 15px 15px;
  text-decoration: none;
  outline: none;
  width: 100%;
  background: greenyellow;
  margin-bottom: 18px;
  box-shadow: 0px 3px 10px -4px rgba(0, 0, 0, 0.67);
}

.container-vignettes-lien .vignettes-img {
  width: 100%;
  height: 160px;
}
.container-vignettes-lien .vignettes-img img {
  width: 100%;
  height: 100%;
  border: 0px solid #fff;
  border-radius: 15px 15px 0px 0px;
  object-fit: cover;
}
.container-vignettes-lien .vignettes-img-nouveau {
  position: absolute;
  top: 10px;
  right: 11px;
  border: 0px solid #99e2d0;
  border-radius: 3px;
  padding: 5px 10px;
  background: #99e2d0;
  color: #278870;
  font-family: "Roboto-light";
}
.container-vignettes-lien .vignettes-description {
  position: relative;
  text-align: left;
  margin-left: 10px;
  margin-bottom: 14px;
}
.container-vignettes-lien .vignettes-description-titre {
  font-size: 1rem;
  margin-bottom: 0px;
}
.container-vignettes-lien .vignettes-description-paragraphe {
  font-size: 0.95rem;
  margin-top: 2px;
  margin-bottom: 0px;
}
.container-vignettes-lien .vignettes-description-icone {
  position: absolute;
  cursor: pointer;
  top: 6px;
  right: 25px;
  font-size: 1.3rem;
}

/*# sourceMappingURL=styles.css.map */
